#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  background-image: url("/sky-bg.jpg");
  margin-top: 0;
  margin-bottom: 0;
}

button {
  background-color: #c0c0c0; /* Gray background */
  color: black; /* Black text */
  border: 3px outset #fff; /* 3D effect border */

  font-size: 14px; /* Small font size */
  text-align: center; /* Centered text */
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: none; /* No underline for text */
}
