#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  background-image: url("/sky-bg.jpg");
  margin-top: 0;
  margin-bottom: 0;
  /* overflow: hidden; */
}
